# Environment variables
.env
config.env
*.env

# Secrets and credentials
*.pickle
*.json
client_secrets.json
flightstudio-d8c6c3039d4c.json

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Dependencies
venv/
env/
.venv/
dist/
build/
*.egg-info/

.DS_Store
*.log
node_modules/
__pycache__/
*.pyc
.env
.venv/
venv/
*.swp
.idea/
.vscode/
src/__pycache__/
*.pyc
.env
config/credentials.json
src/output/
myenv/
output\\
youtube_data_2024_08_28.csv
*.csv
*.txt
*.json
audio/
*.env