.DS_Store
*.log
node_modules/
__pycache__/
*.pyc
.env
.venv/
venv/
*.swp
.idea/
.vscode/
src/__pycache__/
*.pyc
.env
config/credentials.json
src/output/
myenv/
output\\
youtube_data_2024_08_28.csv
*.csv
*.txt
*.json
audio/
*.env